/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {
    padding: 0px;
    margin: 0px;
    background-image: url("images/graphy.png");
    font-family: Helvetica, Arial, sans-serif;

}

body {
    background: url("images/graphy.png");
    background-color: #F7F7F7;
    padding: 0px;
    margin: 0px;

}


header{
    background-image: url("images/low_contrast_linen.png");
    border-spacing: 0px;
    height: 150px;
    position: relative;
    margin:0px ;
    padding:0px;
}

header h1{
    font-weight: bold;
    font-size: 50px;
    color: #fff;
    padding: 10px;
    padding-top: 30px;

}

section {
    margin-top: 60px;
}

form{
    margin-top: 120px;
}


#logo{
    background: url(logo1.png) no-repeat;
    float: left;
    width: 150px;
    height: 130px;


}

table#table{
    padding: 10px;
    margin-left: 5%;
}
section#mitad{
    padding: 10px;
    margin-left: 5%;
    height: 100%
}

div#map {
    width: 95%;
    height:70%;
    height: 500px;

}

form label {
    display: block;
    line-height: 18px;
    font-size: 13px;
    font-weight: bold;
    color: black;
}

form table td label {
    text-align:right;
}

form textarea {
    width: 390px;
    height: 100px;
    padding: 2px;
}


table#table {
    /*margin: 10px;*/
    border-collapse: collapse;
    width: 80%;
}

table#table th {
    /*border: 2px solid white;*/
    border: 0px solid white;
    font-weight: bold;
}

table#table th, table#table td {
    padding: 4px;
    text-align: left;
}


.flash {
    border: 1px solid #000000;
    color: #0a09ad;
    font-weight: bold;
    margin: 1em 0;
    padding: 4px;
    background-color: #ffe8e6;
}



